z_old/*
snakecode.txt
scripts/FLAMES/*
scripts/*
results/*
gencode.v46.annotation.agat.log
concat_data/*
Run/*
*.err
*.log
.snakemake/*
.Rhistory
pipeline.v1.3f.NewUlf.zip
/sing_images/*.sif
.cache/*
.java/*
.config/*
MANE.GRCh38.v1.5.ensembl_genomic.gff
gff3_annotations_for_igv/*.gff3